#page-title.roundedbox
  #maintitlebar_content(style='min-height: 60px;')
    span#pagemaintitletext(style= 'float: left; position:static;')
      #top_Information.bgabutton.bgabutton_red()   
    span#pagemaintitletext(style= 'float: right; position:static;')
      a#btn_keep_order.bgabutton.bgabutton_blue(href='#' onclick='return false;') 確定  
#page-content.game-content
  #head_infomsg.head_infomsg(style='display: none;')
    .head_error
      #head_infomsg_item_1.head_infomsg_item 
  #pagesection_gameview(style='overflow: visible; display: block;')
    #player_state_list(style='position: relative; min-height: 50px; display: flex;margin: 1px')
    #game_play_area_wrap
      #game_play_area(style='min-width: 0px;')
          #description_card_area.whiteblock.section_title(style='width: 520px; margin-left:auto; margin-right:auto;') お題  
            #description_card.card(style='padding: 6px; width: 500px; height: 100px; border-color: black; font-weight:normal; display: table-cell; vertical-align: middle;')
          #answer_area.whiteblock.market_area.section_title(style='min-height: 150px;') お題への回答  
            #answers_in_upperrow(style='margin-top: 4px; display: flex; flex-wrap: wrap;')
              - for(let i = 0; i < 10; i++)
                .card_area
                  .small_padding
                    input.radiobutton(id ='answer_card' + i type="radio" name="answer_cards")
                    label.card_normalsize.card.answer_cards(for='answer_card' + i style='display: none;')
          #market.whiteblock.market_area.section_title 手札    
            #hand_cards(style='margin-top: 4px; display: flex; flex-wrap: wrap;')                
              - for(let i = 0; i < 5; i++)
                .card_area
                  .small_padding
                    input.radiobutton(id ='my_thing_card' + i type="radio" name="hand_cards")
                    label.card_normalsize.card(for='my_thing_card' + i)
#utilities.roundedbox
  #utilities_content(style= 'display: inline-block; position: relative;')
    span#pagemaintitletext
    a#reset-button.action-button.bgabutton.bgabutton_blue(href='#' onclick="return false;" style='display: none;') ゲームをリセット  
    span#pagemaintitletext
    a#giveup-button.action-button.bgabutton.bgabutton_blue(href='#' onclick="return false;" style='display: none;') このラウンドで抜ける  


                                  
