#page-title.roundedbox
  span#pagemaintitletext(style= 'float: left; position:static; height: 100%;')
    #top_Information.bgabutton.bgabutton_red()   
  span#pagemaintitletext(style= 'float: right; position:static; height: 100%;')
    a#btn_keep_order.bgabutton.bgabutton_blue(href='#' onclick='return false;') 確定  
#page-content.game-content
  #head_infomsg.head_infomsg(style='display: none;')
    .head_error
      #head_infomsg_item_1.head_infomsg_item 
  #pagesection_gameview(style='overflow: visible; display: block;')
    #player_state_list(style='position: relative; min-height: 10vh; display: flex;margin: 1px')
    #description_card_area.whiteblock.section_title(style='width: 90vw; margin-left:auto; margin-right:auto;')
      #description_card.card(style='padding: 6px; width: 75vw; height: 15vh; border-color: black; font-weight:normal; font-size:min(4vh,4vw); display: table-cell; vertical-align: middle;')
  .cards_area
    - for(let i = 0; i < 6; i++)
      .card_area
        input.radiobutton(id ='answer_card' + i type="radio" name="answer_cards")
        label.card_normalsize.card.answer_cards(for='answer_card' + i style='display: none;')
    - for(let i = 0; i < 5; i++)
      .card_area
        input.radiobutton(id ='my_thing_card' + i type="radio" name="hand_cards")
        label.card_normalsize.card(for='my_thing_card' + i)
#utilities.roundedbox
  a#reset-button.action-button.bgabutton.bgabutton_blue(href='#' onclick="return false;" style='display: none float: left; max-width: 30vw') ゲームをリセット  
  a#giveup-button.action-button.bgabutton.bgabutton_blue(href='#' onclick="return false;" style='display: none; float: right;') このラウンドで抜ける  


                                  
