doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script#main(src="/javascripts/index/bundle.js", data-displayName=`${displayName}`, data-ipAddress=`${ipAddress}`)
  body
    #overall-content
      #left-side-wrapper
        include includes/left_side_view
      #right-side-wrapper
        //include includes/right-side-view
  #footer
