doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script#main(src="/javascripts/index/bundle.js", data-displayName=`${displayName}`, data-ipAddress=`${ipAddress}`)
  body
    #left-side-wrapper(style= 'max-width: 750px;')
      include includes/left_side_view
  #footer
